body{text-shadow: none;}


.bold{
	font-weight: 700;
}

.fullWidth{
	width: 100%;
}

.center{
	text-align:center;
	margin: 0 auto;
}

h2{font-family: serif; font-style: italic;}
/* Start header */
.home-header{
	width: 100%;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
	background: #fff; /* rewrite default jquery mobile background color */
}

.logoImg{
	display: block;
	margin:0 auto;
	max-width: 280px;
}

.banner{
	width: 100%;
	margin: 0;
	padding: 0;
}

.callAction{
	padding:2px 30px;
}

.callBtn{
	background: #ceb29a !important;
	text-shadow: none !important;
	max-width:240px !important;
	margin:0 auto;
}

/* Start Footer */
.mofooter{
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #ccc;
	background: linear-gradient(180deg, #b58e6f, #fff);
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
	text-shadow: none;
}

.homelist{width: 80%; margin: 20px auto;}

/*.homelist ul{margin: 15px; }*/

.homelist ul li{text-align: center;}

/* Start Main Content */

.mainstyle{
	width: 80%;
	margin: 0px auto;

}